<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
<ul class="catalog">
  <% cache @products do %>
    <% @products.each do |curr| %>
      <% cache curr do %>
        <li>
          <%= image_tag curr.image_url %>
          <h2><%= curr.title %></h2>
          <p><%= sanitize curr.description %></p>
          <div>
            <%= number_to_currency(curr.price) %>
            <%= button_to "Add to cart", line_items_path(product_id: curr), remote: true %>
          </div>
        </li>
      <% end %>
    <% end %>

    </ul>
  <% end %>